.main-container {
    background-image: url("../images/svg/background-top-main.svg");
    background-repeat: no-repeat;
}

.bg-color {
    background-image: linear-gradient(to right, #e73131, #e9502c, #e96829, #e87d2b, #e79031);
}

.brandName {
    color: lightgray;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

.brandName:hover {
    color: lightskyblue;
    text-decoration: none;
}

.nav-link {
    font-size: 15px;
}

.dropdown-item-rounded {
    background-color: #bce6eb;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

.dropdown-item-rounded:hover {
    background-color: #fca3cc;
}

.welcomeContainer {
    position: relative;
}

/* Define the shape and color of the hamburger lines */
.navbar-toggler span {
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler:hover>span {
    color: red;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}


/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}



/*.bannerLeft{
    position:absolute;
    width:50px;
    height:50px;
    top:0;
    left:0;
    border-bottom-right-radius: 100%;
}

.bannerBird{
    color:orange;
}*/

/* [1] The container */
.productDiv {
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.productDiv img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.productDiv:hover img {
    transform: scale(1.1);
}

.productImage:hover {
    cursor: pointer;
}

.category-tab {
    border-radius: 100px;
}

.productCard:hover {
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.72);
}

/* .jumbo-box{
    background: rgb(236,69,79);
    background: linear-gradient(0deg, rgba(236,69,79,1) 0%, rgba(244,72,129,1) 100%);
} */

/* Contact page */

.container-email {
    border-right: 5px solid red;
}

.container-below-email {
    border-top: 5px double red;
}

.btn-email-send {
    background-color: #a685e2;
}

.btn-email-send:hover {
    background-color: rgb(231, 49, 49);
}

.ajs-message {
    font-size: 0.9rem;
    text-shadow: none !important;
    border: none !important;
    border-radius: 30px !important;
}

.ajs-success {
    background-color: rgb(21, 168, 21) !important;
}

/* Callbell iframe */

#callbell-iframe{
    bottom: 20px !important;
}