/*body {
    background-image: url("/images/background-3.jpg");
    background-size: auto;
    background-attachment: fixed;
}*/

.bg-color {
    background-color: rgb(231, 49, 49);
}

.brandName {
    color: lightgray;
    font-size: 24px;
    text-decoration: none;
}

.brandName:hover {
    color: lightskyblue;
    text-decoration: none;
}

body {
    background-color: #38e1ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='92' height='92' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.69' fill='%23293ec4' cx='45' cy='45' r='10'/%3E%3Cg fill='%23ff2f0a' fill-opacity='0.69'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
}

.nav-link {
    font-size: 15px;
}

.dropdown-item-rounded {
    background-color: #bce6eb;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

.dropdown-item-rounded:hover {
    background-color: #fca3cc;
}


/* [1] The container */
.productDiv {
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.productDiv img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.productDiv:hover img {
    transform: scale(1.1);
}

.productImage:hover {
    cursor: pointer;
}

.category-tab {
    border-radius: 100px;
}

.card:hover {
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.72);
}

/* Contact page */

.container-email {
    border-right: 5px solid red;
}

.container-below-email {
    border-top: 5px double red;
}

.btn-email-send {
    background-color: #a685e2;
}

.btn-email-send:hover {
    background-color: rgb(231, 49, 49);
}
